.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    max-width: 460px;
}

@media screen and (max-width: 928px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 611px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
    } 
}