.places {
    margin: 0 auto 92px;
    max-width: 984px;
}

@media screen and (max-width: 1080px) {
    .places {
        max-width: calc(100vw - 48px * 2);
    }
}

@media screen and (max-width: 928px) {
    .places {
        margin-bottom: 88px;
        max-width: calc(100vw - 24px * 2);
    }
}

@media screen and (max-width: 736px) {
    .places {
        margin-bottom: 64px;
        max-width: 100vw;
        /* max-width: calc(100vw - 16px * 2); */
    }
}


