.place__image {
    max-width: calc((100vw - 48px * 2) / 2);
    object-fit: cover;
}

@media screen and (max-width: 611px) {
    .place__image {
        object-fit: initial;
        max-width: 100%;
}