/* .place__content {
    display: flex;
    column-gap: 40px;
    align-items: flex-start;
}
@media screen and (max-width: 1279px) {
    .place__content {
        column-gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place__content {
        column-gap: 28px;
    }
}

@media screen and (max-width: 611px) {
    .place__content {
        row-gap: 32px;
        flex-wrap: wrap;
} */