.place__paragraphs {
    /* max-width: 484px; */
    max-width: 100%;
}

/* @media screen and (max-width: 1080px) {
    .place__paragraphs {
        max-width: calc((100vw - 48px * 2) / 2);
    }
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        max-width: calc((100vw - 24px * 2) / 2);
    }
} */
