.footer__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    margin-right: 18px;
}

.footer__link:last-child {
    margin-right: 0;
}

.footer__link:hover {
    opacity: .8;
}

@media screen and (max-width: 736px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-right: 0;
        margin-bottom: 32px;  
    }
    
    .footer__link:last-child {
        margin-right: 0;
        margin-bottom: 0;  
    }

    .footer__link:hover {
        opacity: 0;
    }
}