.footer__links {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, max-content));
    justify-content: start;
    gap: 18px;
    grid-gap: 18px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 736px) {
    .footer__links {
    grid-template-columns: minmax(min-content, max-content);
    gap: 32px;
    grid-gap: 32px;
    }
}
