.intro {
    max-width: 984px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1080px) {
    .intro {
        max-width: calc(100vw - 48px * 2);
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: calc(100vw - 16px * 2);
        padding: 0 16px;
        margin-bottom: 64px;
    }
}
