.place {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    column-gap: 48px;
    row-gap: 40px;
    margin-top: 80px;
}

.place:last-child {
    margin-bottom: 92px;
}

.place:first-child {
    margin-top: 92px
}