.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    max-width: 100%;
    margin: 0 auto 24px;
}

@media screen and (max-width: 1280px) {
    .footer {
        max-width: calc(100vw - 48px * 2);
    }
}

@media screen and (max-width: 928px) {
    .footer {
        max-width: calc(100vw - 24px * 2);
    }
}

@media screen and (max-width: 736px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 48px;
        grid-gap: 48px;
    }
}
