.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin:0 auto 24px;
}

@media screen and (max-width: 1280px) {
.footer {
    max-width: calc(100vw - 48px * 2);
}
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: calc(100vw - 24px * 2);
    }
}

@media screen and (max-width: 699px) {
    .footer {
        flex-direction: column;
    }
}