.place__website {
    max-width: 50%;
    align-self: flex-end;
}
/* @media screen and (max-width: 1080px) {
    .place__website {
        max-width: calc((100vw - 48px * 2) / 2);
    }
}

@media screen and (max-width: 768px) {
    .place__website {
        max-width: calc((100vw - 24px * 2) / 2);
    }
}

@media screen and (max-width: 611px) {
    .place__website {
        display: none;
    }
} */
